<header class="site-header">
  <nav class="nav-menu">
    <div class="dropdown">
      <button class="dropdown-button">Essays</button>
      <ul class="dropdown-content">
        <li><a href="/" class="nav-link">On Wonder and Awe</a></li>
        <li><a href="/anxiety-and-wonder" class="nav-link">On Anxiety and Wonder</a></li>
        <!-- Add new essays here -->
      </ul>
    </div>
    <a href="/auth" class="nav-link auth-link">Sign In</a>
  </nav>
</header> 