<header class="header">
  <nav class="nav">
    <a href="/" class="nav-link">Home</a>
    <div class="dropdown">
      <a href="#" class="nav-link">Essays ▾</a>
      <div class="dropdown-content">
        <a href="/wonder" class="dropdown-link">On Wonder and Awe</a>
        <a href="/wu-wei" class="dropdown-link">On Wu Wei</a>
      </div>
    </div>
    <span id="authLinks">
      <a href="/auth" class="nav-link">Sign In</a>
    </span>
  </nav>
</header> 